@import 'nativescript-theme-core/css/core.dark.css';

StackLayout Button { background-color: lightyellow; }
/* Your CSS goes here */
.button {
    padding: 10 12 10 10;
    min-width: 52;
    border-radius: 2;
}
.button-accent {
    background-color: #FF404B;
    color: #ffffff;
    border-color: #FF404B;
    border-width: 1;
}